<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href = "./css/style.css">
    {{>linkToAFont}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{>title}}</title>
</head>
<body>
    {{>header}}
    <hr>
    <div class = "container">
        <form>
            <input type = "text" name = "address" placeholder="Address">
            <input type = "submit">
        </form>
        <div id = "myData"></div>
    </div>
    <hr>
    {{>footer}}
</body>
<script src = "./js/app.js"></script>
</html>